
@{
    ViewBag.Title = "Home";
}

<h2>Dashboard</h2>
@Html.ActionLink("Family Dashboard", "Index", "Family", new { area = "" }, new { @class = "btn btn-link" })
@Html.ActionLink("Parent Dashboard", "Index", "Parent", new { area = "" }, new { @class = "btn btn-link" })
